.mainConainer {
    & .thumbnails {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
        & div {
            width: 30%;
            margin-bottom: 30px;
            & img {
                height: 200px;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}