:root {
    --color-blue: #12b2f9;
    --border-radius: 5px;
  }

  .title {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    & div {
        margin-top: 8px;
        width: 2px;
        height: 10px;
        background-color: #12b2f9;
    }

    & p {
        margin: 0;
    }

    & h1 {
        margin-top: 20px;
    }
}

.info {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 200px;
    & div {
        width: 50%;

        & img {
            width: 80%;
            border-radius: 5%;
        }

        & p {
            margin: 30px 0;
        }
    }
    & button {
        background-color: var(--color-blue);
        border: var(--color-blue);
        border-radius: var(--border-radius);
        padding: 15px 30px;
        color:white;
    }
}

@media (max-width: 687px) {
    .info {
        flex-direction: column;
        
        & div {
            width: 95%;
        }

        & div:nth-of-type(2) {
            margin-top: 50px;
        }

        & div:first-of-type {
            & img {
                width: 80%;
            }
        }
    }
  
}