:root {
  --color-blue: #12b2f9;
  --border-radius: 5px;
}

.mainContainer {
  display: flex;
  height: 100vh;
    & .mainPhoto {
        width: 100%;
      }

    & div {
        width:50%;
        &:first-child{
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        &.myPhoto {
            display: flex;
            justify-content: center;
            align-items: center;
        }
      }

    & h1 {
        font-size: 55px;
        margin-bottom: 0px;
        margin-top: 10px;
        width: 200%;
        z-index: 1;
      }

    & .intro span{
        border:var(--color-blue) solid 0.7px;
        padding: 12px 30px;
        border-radius: var(--border-radius);
        font-weight: 300;
       }

    & .openingszin {
        margin-top: 10px;
    }
    & .buttons {
        width: 100%;
        margin-top: 40px;
        & .contactBTN {
            background-color: var(--color-blue);
            border: 1px solid var(--color-blue);
            padding: 15px 30px;
            color: white;
            border-radius: var(--border-radius);
            margin-right: 30px;
            font-size: 18px;
        }

        & {
            .projectBTN {
                background: black;
                color: white;
                border: 1px white solid;
                padding: 15px 30px;
                border-radius: var(--border-radius);
                font-size: 18px;
            }
        }
    }
}
