:root {
  --color-blue: #12b2f9;
  --border-radius: 5px;
}

.mainContainerContact {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    padding-top: 130px;
    padding-bottom: 130px;
    & .leftSide, & .rightSide {
        width: 45%;
    }

    & .leftSide {
        margin-left: 20px;
        & .secondIcon {
            display: none;
        }
        & .contactMe {
            & div {
                display: flex;
                align-items: center;
                align-content: center;
                margin-top: 5px;
                & .emailTel {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    & p {
                        margin: 0;
                        margin-left: 15px;
                    }

                    & p:first-of-type {
                        font-size: 10px;
                    }
                }
            }
        }
        .icons {
            margin-left: -100%;
            margin-top: 110px;
            text-align: right;
            & .background {
                background-color: var(--color-blue);
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                padding: 10px;
                text-align: right;

                & a {
                    color: white;
                & i {
                    font-size: 30px;
                    margin-left: 14px;
                    transition: 0.5s;
                    &:hover {
                        transform: rotate(360deg);
                    }
                }
            }
            }
        }
    }

    .rightSide {
        margin-right: 20px;

        & .firstLine {
            display: flex;
            margin-top: 20px;
            & input:first-of-type {
                margin-right: 5px;
            }
        }

        & input, textarea {
            background-color: #111111;
            border: 1px solid rgb(131, 131, 131);
            margin-bottom: 15px;
            color: white;
        }

        & input:focus {
            outline: 0;
            border: 1px solid white;
        }

        & textarea {
            width: 100%;
        }

        & .submit {
            background-color: var(--color-blue);
            border: 1px solid var(--color-blue);
            color: white;
            padding: 10px 25px;
            border-radius: 10px;
            transition: 0.3s;
            &:hover {
                background-color: #FA2A4C;
                border: 1px solid #FA2A4C;
            }
        }
    }
}

@media (max-width: 850px) {
    #contact {
        flex-direction: column;
        padding-top: 100px;

        & .rightSide {
            margin: 0 auto;
            width: 95%;
        }

        & .leftSide {
            text-align: center;
            width: 90%;
            margin-bottom: 100px;
            & .icons {
                
            }

            & .contactMe  {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                & .emailTel p {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 5px;
                }
            }

            & .firstIcon {
                display: none;
            }

            & .secondIcon {display: block;}
        }

    }
}
