:root {
    --color-blue: #12b2f9;
  }

.footer {
    margin-top: 80px;

    & .slogan {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 15%;
        & h1 {
            font-family: 'poppins';
            & span {
                color: var(--color-blue);
            }
        }

        & p {
            font-size: 20px;
            font-weight: bold;
        }
    }

    & .footerNav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 50px;
        margin-top: 20px;
        & div {

            & h3 {
                font-size: 20px;
                color: var(--color-blue);
            }

            & p {
                font-weight: 500;
                margin-bottom: 3px;
                & span {
                    margin-left: 10px;  
                    font-weight: bold;
                }
            }
        }
        & .contactMe {
            width: 30%;
        }

        & .navigation {
            display: flex;
            flex-direction: column;

            & a {
                color: white;
            }
        }

        & .quote {
            width: 35%;

            & p {
                width: 90%;
            }
        }
    }

}

@media (max-width: 896px) {
    .footer .footerNav {
        justify-content: space-around;
        & .quote {
            width: 100%;
        }

        & .navigation, & .contactMe {
            margin-top: 20px;
        }

        & .navigation {
            width: 35%;
        }
        & .contactMe {
            width: 55%;
        }
    } 
}

@media (max-width: 538px) {
    .footer .footerNav {
       flex-direction: column;
       text-align: center;

       & .quote p {
           width: 100%;
       }

       & .navigation, & .contactMe {
        width: 100%;
       }
      
    } 

    & .slogan {
        text-align: center;
        width: 100%;

        & h1 {
            width: 100%;
        }
    }
}