:root {
  --color-white: #FFF;
  --color-black: #000;
}
body {
 background-color: var(--color-black);
 color: var(--color-white);
 font-family: 'Poppins';
}

.container {
  width: 1100px;
  margin: 0 auto;
}